# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=05ca00287becbea733bf98c9f6127442
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=72ce8b62afc078a143602
AUTH_GITHUB_SECRET=68379a6792c1e45fa1a82ab99fd331136d534048
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL=XXXXXXXX
KV_REST_API_URL=XXXXXXXX
KV_REST_API_TOKEN=XXXXXXXX
KV_REST_API_READ_ONLY_TOKEN=XXXXXXXX

AUTH_SECRET=05ca00287becbea733bf98c9f6127442

OPENAI_API_KEY=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


AUTH_GITHUB_ID=72ce8b62afc078a14360
AUTH_GITHUB_SECRET=68379a6792c1e45fa1a82ab99fd331136d534048

KV_URL="redis://default:2f5db7a9df4b401688c83cf7c6ffa0ed@hopeful-urchin-43489.kv.vercel-storage.com:43489"
KV_REST_API_URL="https://hopeful-urchin-43489.kv.vercel-storage.com"
KV_REST_API_TOKEN="AanhASQgYTJkZGQ1MWQtNDUyNi00MzAxLThlNzMtNWQ2Y2QzYzcwNDE4MmY1ZGI3YTlkZjRiNDAxNjg4YzgzY2Y3YzZmZmEwZWQ="
KV_REST_API_READ_ONLY_TOKEN="AqnhASQgYTJkZGQ1MWQtNDUyNi00MzAxLThlNzMtNWQ2Y2QzYzcwNDE4gtVxOwPsmqh2isU0Bp_o66vsusvp6nUwmNEhkDY_zl4="

    